{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
	<div class="row">
		<div class="col-md-12">
			<img src="{% static 'img/banner.gif' %}" class="banner">
		</div>
		{% for gig in gigs %}
			<div class="col-md-3" style="height: 300px;">
				<div class="thumbnail" id="photo-{{ forloop.counter }}">
					<div style="height: 165px; margin-top: 8px; margin-bottom: 8px;">
						<a href="{% url 'gig_detail' gig.id %}" ><img src="/media/{{ gig.photo }}" style="max-height: 174px; max-width: 235px;""></a>
					</div>
					<hr style="margin-top: 20px; margin-bottom: 0px;">
					<div class="caption">
						<p><a href="{% url 'gig_detail' gig.id %}">{{ gig.title | truncatechars:35 }}</a></p>
						<p>
							<span>by <a href="{% url 'profile' gig.user.username %}">{{ gig.user.username }}</a></span>
							<b class="green pull-right" id="price-{{ forloop.counter }}">${{ gig.price }}</b>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
		
		<!-- pagination list from here -->
		{% if gigs.has_other_pages %}
		<!-- <br clear="all"> -->
			<div class="text-center" >
				<ul class="pagination" style="margin-top:2px;">
				    {% if gigs.has_previous %}
				    	<li><a href="?page={{ gigs.previous_page_number }}">&laquo;</a></li>
				    {% else %}
				    	<li class="disabled"><span>&laquo;</span></li>
				    {% endif %}
				    {% for i in gigs.paginator.page_range %}
				    	{% if gigs.number == i %}
				      		<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
				    	{% else %}
				        	<li><a href="?page={{ i }}">{{ i }}</a></li>
				    	{% endif %}
				    {% endfor %}
				    {% if gigs.has_next %}
				    	<li><a href="?page={{ gigs.next_page_number }}">&raquo;</a></li>
				    {% else %}
				    	<li class="disabled"><span>&raquo;</span></li>
				    {% endif %}
				    <li><a href="{% url 'home_all' %}" style="color:green"><b>show all gigs</b></a></li>
				</ul>
			</div>
		
		{% else %}
			<div class="text-center">
				<ul class="pagination" style="margin-top:2px;">
					<li><a href="/" style="color:green"><b>show less</b></a></li>
				</ul>
			</div>
			
		{% endif %}
	
{% endblock %}
