/* .代表class, #代表ID */
/* .代表class, #代表ID */
/* .代表class, #代表ID */
/* .代表class, #代表ID */
/* .代表class, #代表ID */
/* .代表class, #代表ID */

/*.container {
	width: 1100px;
}*/

html, body {
	padding-top: 30px;
	height: 100%;
}

a {
	color: #323232;
}

a:hover {
	color: #0bb536;
}

#category a {
	padding: 5px 15px;
}

#body {
	background-color: #f7f7f7;
}

/*#body .banner {
	width: 100%;
	margin-bottom: 20px;
}*/
.banner {
	width: 100%;
	margin-bottom: 20px;
}

#footer {
	padding: 20px 0;
	font-color
}

.green {
	color: #0bb536;
}


/* From reference */
#id_wrapper {
    /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    min-height: 97%;
    /* 位置設為relative, 作為footer區塊位置的參考 */
    position: relative;
}

#id_header {
    /* 設定header的高度 */
    height: 40px;
    box-sizing: border-box;
}

#id_content {
    /* 留出header及footer區塊的空間 */
    /*padding-top: 40px;*/
    padding-bottom: 40px;
}

#id_footer {
    /* 設定footer的高度 */
    height: 40px;
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}

.taco_test{
	color: red;
}

